@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Marck+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font-cursive: "Marck Script", cursive;
$font-dosis: "Dosis", sans-serif;
$font-monserrat: "Montserrat", sans-serif;