@use "./vendor/_normalize.scss";
@use "./partials/colors.scss";
@use "./partials/typography";

// Medium screens and up
@media (min-width: 768px) {
   
  }
  // Big screens
  @media (min-width: 1024px) {

    $primary-font-color: #575757;
    
    $dark-background: #414141;
    $darker-background: #150300;
    
  }
nav{
    $darker-background: #150300;
    background-color: $darker-background;
    color: beige;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;    
    padding: 15px;
    font-family: typography.$font-monserrat;
    
}

nav a{ 
    text-decoration: none;
    color: beige;
}



nav a:link {
  text-decoration: none;
}

nav a:visited {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav a:active {
  text-decoration: underline;
}





nav ul{ 
    list-style: none;
    margin-left: 60rem;
    display: flex;
    gap: 1.5rem;
    text-align: right;
    font-weight: normal;

}

section{
  display: inline-block;
  margin: 15px;
  padding: 10px;
}

aside{
  float: right;
  
}

figcaption{
  display: none;
}

article{
    $primary-font-color: #575757;
    color: $primary-font-color;
    font-family: typography.$font-dosis;

  text-align: center;
  
 
}

section a{ 
    text-transform: uppercase;
    color: $secondary-font-color;
    font-weight: 600;

}

  h1{ 
    @include header;
    
  }

  h2{
    text-transform: uppercase;
    font-family: typography.$font-monserrat;

  }
  
  footer{
    padding: 15px;
    $dark-background: #414141;
    background-color: $dark-background;
    color:white;
    font-family: typography.$font-dosis;
   p{
    display: inline-block;
   }
   #extra{
    text-align: left;
   }
  }
 



 